.wrapper{
    width: 100%;
    height: 100vh;
}
.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}
.title{
    font-size: 35px;
    text-align: center;
    color: rgb(56, 79, 209);
    font-weight: 600;
    font-family: sans-serif;
}
.text{
    margin-top: 50px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    font-family: sans-serif;
}