.table{
    width: 100%;
    @media print {
        @page {size: landscape}
    }
}
.date{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    color: #5ec1ff;
}
.header{
    display: flex;
    border-bottom: 1px solid black;
}
.habitsTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    padding: 10px 0;
    letter-spacing: 3px;
    border-right: 1px solid black;
    min-width: 140px;
}
.row{
    display: flex;
    border-bottom: 1px solid black;
    min-height: 50px;
    height: auto;
}
.headerDay{
    text-align: center;
    padding-top: 17px;
    display: inline-block;
    width: 40px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: rgb(218, 218, 218);
        top: 50%;
        right: -2px;
        border-radius: 50%;
    }
    &:last-child{
        &::after{
            width: 0;
        }
    }
}

.habitName{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 0;
    letter-spacing: 3px;
    border-right: 1px solid black;
    min-width: 140px;
    word-wrap: break-word;
}
.habitDay{
    width: 40px;
    display: flex;
    align-items: center;
}
.habitCyrcle{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    &:hover{
        background-image: url('../../assets/images/check.png'); 
    }
    &-true{
        background-image: url('../../assets/images/check.png'); 
        &:hover{
            background-image: url('../../assets/images/close.png');}
    }
    &-false{
        background-image: url('../../assets/images/close.png');
        &:hover{
            background-image: url('../../assets/images/check.png');}
    }

}

.addHabit{
    width: 30%;
    margin-top: 30px;
    border: 1px solid lightgray;
    padding: 10px;
    label{
        display: block;
        color: black;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
        padding: 10px 0;
    }
    input{
        outline: none;
        padding: 7px 0 7px 10px;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
    }
    button{
        padding: 10px 0;
        width: 80px;
        margin-left: 15px;
        background-color: #8AAFE1;
        color: white;
        font-size: 19px;
        letter-spacing: 2px;
        border: none;
        outline: none;
    }
}
.print{
    color: white;
    margin-top: 30px;
    background-color: #9CD6FB;
    outline: none;
    user-select: none;
    border: none;
    padding: 20px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
