.header{
    background-color: rgba(135, 206, 250, 0.829);
    padding: 15px 0;
    &__user{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo{
        a{
            font-family: 'Pacifico', cursive;
            color: white;
            font-size: 35px;
            display: flex;
            align-items: center;
            text-decoration: none;
            line-height: 40px;
        }
    }
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li{
            margin-left: 40px;
            &:first-child{
                margin-left: 0;
            }
        }
        a{
            color: white;
            font-weight: bold;
            font-family: 'Work Sans', sans-serif;
            font-size: 20px;
            text-decoration: none;
            &:hover{
                color: rgba(247, 245, 245, 0.856)
            }

        }
    }
}

.logout{
    color:rgb(13, 140, 219);
    background-color: white;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.avatar{
    border-radius: 50%;
    cursor: pointer;
}